<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>RLH Tutoring was set up in January 2023 with the aim of providing a personalised, relaxed approach to learning maths whether that be online or in person. Current exam boards followed include AQA, Edexcel and OCR for GSCE and A- level, whilst iGCSE, the IB and Functional skills can also be catered for where requested as well as more general maths support. 
By pinpointing topics to be worked on, giving clear explanations and encouraging all the way, children gain confidence and see improved results from one assessment to the next. It is a pleasure to be part of their journey and see them blossom. 
Rachel
 </p>
      </div>
      <div class="col-lg-4">
        <p> ‘He got an 8!!! So proud. Thankyou so much for everything you have done for him. We really appreciate it xxx.’
          ‘Hiya, done a maths paper with my daughter tonight – she was amazing! Haven’t done one with her since she started with you. Difference is mega…thankyou for what you’ve done so far.’ 
          ‘I honestly can’t thank you enough. I don’t know what I would have done without you. I’ve loved every session so much.’ 
          ‘Thankyou so much for your help, you helped improve my confidence so much.’ 
        </p>
      </div>
    </div>
  </div>
</section>
